
<app-menu></app-menu>

<router-outlet></router-outlet>



<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton 
        class="p-button-danger"
        (click)="cambiarNombre()" 
        label="Cambiar nombre"
        icon="pi pi-bell"
        iconPos="right">
</button>

<p-card [header]="nombre | titlecase" subheader="Simple card">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit perspiciatis laudantium incidunt, quaerat dolore illum dolores repudiandae sunt, itaque ipsa hic accusamus odio. Corrupti excepturi esse iste praesentium tempore!
</p-card> -->